<div class="container">
    <div class="text">
        osram
        <div class="logo">
            Osram logo
        </div>
    </div>
    <div class="input">
        <div class="textNumberseri">
            <p class="textpenjual">Data Penjual :</p>
        </div>
        <input type="text" placeholder="Nama Bengkel" />
        <input type="text" placeholder="Alamat Bengkel" />
        <input type="text" placeholder="Nama Pemilik Bengkel" />
       <div class="button">
           <button class="btn btn-warning"  [routerLink]="['/videopage']" routerLinkActive="router-link-active">Lanjutkan</button>
       </div>
    </div>
</div>