.logo-1 {
  text-align: center;
  margin: 20px auto;
  padding-top: 30px;
}
.logo-2 {
  text-align: center;
  margin: 20px auto;
}

.wrapper-image {
  margin: 30px auto;
  margin-top: 15px;
}

::ng-deep .swiper-container {
  padding-bottom: 70px;
}
::ng-deep .swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 0px;
}
::ng-deep .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  opacity: 1;
  border: 2px solid #f60;
  background-color: transparent;
}
::ng-deep
  .swiper-container-horizontal
  > .swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0 7px;
}
::ng-deep .swiper-pagination-bullet-active {
  background-color: #f60;
}

.wrapper-video {
  margin: 20px auto;
}

.wrapper-description {
  margin: 20px auto;
}

.wrapper-description p {
  font-family: Helvetica;
  font-size: 14px;
  line-height: 18px;
}

.btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  padding-bottom: 50px;
}

.btn-wrapper .btn {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  background-color: #ff6600;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  border-radius: 7px;
  padding: 10px 25px;
}

.btn-wrapper .btn:hover {
  background-color: #ffffff;
  color: #ff6600;
  border-color: #ff6600;
}

.data-pembeli-wrapper {
  border-top: 2px solid #6d6d6d;
  margin-bottom: 50px;
}

.data-pembeli-wrapper h3 {
  font-family: Helvetica;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #000000;
  margin: 20px auto;
}

.data-pembeli-wrapper .data-pembeli {
  border: 2px solid #000000;
  padding: 15px;
}

.data-pembeli-wrapper .data-pembeli table tr td {
  font-family: Helvetica;
  font-size: 14px;
  line-height: 16px;
  color: #282828;
  padding-right: 20px;
  padding-bottom: 20px;
}

.data-pembeli-wrapper .data-pembeli table tr:first-child td{
  font-weight: bold;
}

.data-pembeli-wrapper .data-pembeli table tr:last-child td{
  padding-bottom: 0px;
}

.data-pembeli-wrapper .data-pembeli table tr td:last-child {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #282828;
}
