<div class="container">
  <div class="container">
    <div class="logo-1">
      <img src="../../../assets/image/logo/logo-osram.png" alt="">
    </div>
    <div class="logo-2">
      <img src="../../../assets/image/logo/logo-yoong.png" alt="">
    </div>
  </div>

  <div class="container wrapper-image">
    <swiper [config]="config">
      <div class="row">
        <ng-template swiperSlide>
          <img
            class="w-100 d-block"
            src="../../../assets/image/cars/cars1.jpg"
            alt="slide1"
          />
        </ng-template>
        <ng-template swiperSlide>
          <img
            class="w-100 d-block"
            src="../../../assets/image/cars/cars2.jpg"
            alt="slide2"
          />
        </ng-template>
        <ng-template swiperSlide>
          <img
            class="w-100 d-block"
            src="../../../assets/image/cars/cars3.jpg"
            alt="slide3"
          />
        </ng-template>
      </div>
    </swiper>
  </div>

  <div class="container wrapper-video">
    <app-youtube></app-youtube>
  </div>
  <div class="container wrapper-description">
    <p>
      Meet the future with OSRAM LEDriving CBI Pro. Classic beam pattern and OEM quality will definitely upgrade your vehicle performance
    </p>
  </div>

  <div class="container">
    <div class="data-pembeli-wrapper">
      <h3>Data Pembeli</h3>
      <div class="data-pembeli">
        <table>
          <tr>
            <td>S/N</td>
            <td>:</td>
            <td>OSY12345678</td>
          </tr>
          <tr>
            <td>Nama Pembeli</td>
            <td>:</td>
            <td>Efren Reyes</td>
          </tr>
          <tr>
            <td>No. Pol</td>
            <td>:</td>
            <td>B 1454 LAH</td>
          </tr>
          <tr>
            <td>Merk Mobil</td>
            <td>:</td>
            <td>Nissan GT-R</td>
          </tr>
          <tr>
            <td>No. Invoice</td>
            <td>:</td>
            <td>A-12345</td>
          </tr>
          <tr>
            <td>Tgl. Pembelian</td>
            <td>:</td>
            <td>4 Mei 2021</td>
          </tr>
          
          <tr>
            <td>Tgl. Akhir Garansi</td>
            <td>:</td>
            <td>4 Mei 2022</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="container btn-wrapper">
    <div class="btn text-center" [routerLink]="['/customer']">DAFTAR GARANSI</div>
  </div>



</div>
