<div class="container">
    <div class="text">
        osram
        <div class="logo">
            Osram logo
        </div>
    </div>
    <div class="input">
        <div class="textNumberseri">
            <p>Masukan nomor seri Anda</p>
        </div>
        <input type="text" placeholder="" />
        <p class="textExample">
            <small>Lihat nomor seri pada bagian bawah QR code <br>
            Contoh : <strong> OSY12345678 </strong>
            </small>
        </p>
        <button class="btn btn-warning">daftar</button>
    </div>
</div>