h2 {
  font-family: Helvetica;
  text-align: center;
}

.login {
  margin-top: 100px;
}

.wrapper-login {
  margin-top: 50px;
}

.wrapper-login h3.title {
  font-family: Helvetica;
  margin-bottom: 20px;
  font-size: 24px;
}

.btn {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
  background: #fcfcfc;
  border: 2px solid #282828;
  font-family: Helvetica;
  font-size: 13px;
  line-height: 15px;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 10px 25px;
  display: inline-block;
  cursor: pointer;
  transition: 0.2s;
  margin: 30px auto;
}

.btn:hover {
  background: #ff6600;
  color: #fcfcfc;
}

.has-error input[type="text"],
.has-error input[type="password"] {
  border-color: rgb(216, 12, 12);
  color: rgb(230, 14, 14);
}
