.admin{
    margin: 100px auto;
}

h2{
  margin-bottom: 20px;
  text-align: center;
}
.wrapper-form{
  border: 2px solid #434041;
  padding: 30px;
  margin-bottom: 10px;
}

.wrapper-unprinted{
  border: 1px solid #434041;
  padding: 30px;
}

.btn {
  background: #fcfcfc;
  border: 2px solid #282828;
  font-family: Helvetica;
  font-size: 13px;
  line-height: 15px;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 10px 25px;
  display: inline-block;
  cursor: pointer;
  transition: 0.2s;
  margin: 30px auto;
}

.btn:hover {
  background: #ff6600;
  color: #fcfcfc;
}

.has-error input[type="text"],
.has-error input[type="password"] {
  border-color: rgb(216, 12, 12);
  color: rgb(230, 14, 14);
}