<div class="container" [loader]="isLoading">
  <form
    [formGroup]="pembeliForm"
    (ngSubmit)="onSubmit(pembeliForm.value)"
    novalidate
  >
    <h3>Data Pembeli</h3>
    <div class="form-group">
      <label for="nama_pembeli">Nama Pembeli <span>*</span></label>
      <p
        [ngClass]="{
          'has-error': isSubmitted && formControls.nama_pembeli.errors
        }"
      >
        <input
          class="form-control"
          formControlName="nama_pembeli"
          type="text"
          [textMask]="maskconfig2"
        />
      </p>
    </div>
    <div
      *ngIf="
        pembeliForm.controls['nama_pembeli'].invalid &&
        (pembeliForm.controls['nama_pembeli'].dirty ||
          pembeliForm.controls['nama_pembeli'].touched)
      "
      class="alert alert-danger"
    >
      <div *ngIf="pembeliForm.controls['nama_pembeli'].errors">
        Silahkan Input Nama Pembeli.
      </div>
    </div>
    <!-- <div *ngIf="isUnvalidated" class="alert alert-danger">
      Silahkan Input Nama Pembeli.
    </div> -->

    <div class="form-group">
      <label for="nomor_polisi">No Pol <span>*</span></label>
      <p
        [ngClass]="{
          'has-error': isSubmitted && formControls.nomor_polisi.errors
        }"
      >
        <input
          class="form-control"
          formControlName="nomor_polisi"
          type="text"
          [textMask]="maskconfig"
        />
      </p>
    </div>
    <div
      *ngIf="
        pembeliForm.controls['nomor_polisi'].invalid &&
        (pembeliForm.controls['nomor_polisi'].dirty ||
          pembeliForm.controls['nomor_polisi'].touched)
      "
      class="alert alert-danger"
    >
      <div *ngIf="pembeliForm.controls['nomor_polisi'].errors">
        Silahkan Input No Polisi.
      </div>
    </div>
    <!-- <div *ngIf="isUnvalidated" class="alert alert-danger">
      Silahkan Input No Polisi.
    </div> -->

    <div class="form-group">
      <label for="merk_mobil">Merk Mobil <span>*</span></label>
      <p
        [ngClass]="{
          'has-error': isSubmitted && formControls.merk_mobil.errors
        }"
      >
        <input
          class="form-control"
          formControlName="merk_mobil"
          type="text"
          [textMask]="maskconfig2"
        />
      </p>
    </div>
    <div
      *ngIf="
        pembeliForm.controls['merk_mobil'].invalid &&
        (pembeliForm.controls['merk_mobil'].dirty ||
          pembeliForm.controls['merk_mobil'].touched)
      "
      class="alert alert-danger"
    >
      <div *ngIf="pembeliForm.controls['merk_mobil'].errors">
        Silahkan Input Merk Mobil.
      </div>
    </div>
    <!-- <div *ngIf="isUnvalidated" class="alert alert-danger">
      Silahkan Input Merk Mobil.
    </div> -->

    <div class="form-group">
      <label for="no_invoice">No. Invoice <span>*</span></label>
      <p
        [ngClass]="{
          'has-error': isSubmitted && formControls.no_invoice.errors
        }"
      >
        <input class="form-control" formControlName="no_invoice" type="text" 
        [textMask]="maskconfig2"/>
      </p>
    </div>
    <div
      *ngIf="
        pembeliForm.controls['no_invoice'].invalid &&
        (pembeliForm.controls['no_invoice'].dirty ||
          pembeliForm.controls['no_invoice'].touched)
      "
      class="alert alert-danger"
    >
      <div *ngIf="pembeliForm.controls['no_invoice'].errors">
        Silahkan Input No. Invoice.
      </div>
    </div>
    <!-- <div *ngIf="isUnvalidated" class="alert alert-danger">
      Silahkan Input No. Invoice.
    </div> -->

    <div class="form-group">
      <label for="deskripsi">Deskripsi</label>
      <textarea
        class="form-control"
        formControlName="deskripsi"
        maxlength="400"
      ></textarea>
    </div>

    <div class="form-group">
      <label for="deskripsi">Foto <span>*</span></label>
      <p class="info">Maksimal 10 MB</p>
      <p class="info">
        Pastikan box dan plat nomor kendaraan terlihat dengan jelas pada saat
        pengambilan foto.
      </p>
      <img class="image-preview" [src]="imgFile" *ngIf="imgFile" height="200" />

      <div
        class="btn-upload upload-foto"
        (click)="imagePicker.click()"
        [ngClass]="{
          'has-error': isSubmitted && formControls.no_invoice.errors
        }"
      >
        Pilih Gambar
      </div>
      <input
        #imagePicker
        type="file"
        accept="image/x-png,image/gif,image/jpeg"
        class="form-control d-none"
        id="foto"
        formControlName="image"
        (change)="onImageChange($event)"
      />
      <div
        *ngIf="
          pembeliForm.controls['image'].invalid &&
          (pembeliForm.controls['image'].dirty ||
            pembeliForm.controls['image'].touched)
        "
        class="alert alert-danger"
      >
        <div *ngIf="pembeliForm.controls['image'].errors">
          Silahkan Masukan Gambar.
        </div>
      </div>
    </div>
    <!-- <div *ngIf="isUnvalidated" class="alert alert-danger">
      Silahkan Masukan Gambar.
    </div> -->

    <div class="form-group">
      <label for="video">Video</label>
      <p class="info">Maksimal 10 MB</p>
      <video
        class="video-preview"
        [src]="videoFile"
        *ngIf="videoFile"
        height="200"
        controls
      ></video>
      <div class="btn-upload upload-video" (click)="videoPicker.click()">
        Pilih Video
      </div>
      <input
        #videoPicker
        type="file"
        class="form-control d-none"
        accept="video/*"
        id="video"
        formControlName="video"
        (change)="onVideoChange($event)"
      />
      <div class="info-video">
        <span>*</span>
        <p class="description">
          Foto dan video akan digunakan untuk keperluan sosial media Osram dan
          Yoong Motor
        </p>
      </div>
    </div>

    <div *ngIf="isUnvalidated" class="alert alert-danger">
      Mohon inputkan kembali dengan benar.
    </div>

    <div class="btn-wrapper">
      <button type="submit" class="btn">Upload Data Pembeli</button>
    </div>
  </form>
</div>
