.logo-1 {
  text-align: center;
  margin: 20px auto;
  padding-top: 30px;
}
.logo-2 {
  text-align: center;
  margin: 20px auto;
}

form {
  margin-top: 50px;
}

form span {
  color: red;
}

form h3 {
  text-align: center;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #282828;
  margin-bottom: 20px;
}

form label {
  font-family: Helvetica;
  font-size: 13px;
  line-height: 15px;
  text-align: left;
  color: #282828;
}

form p.description {
  font-family: Helvetica;
  font-size: 13px;
  line-height: 15px;
  color: #282828;
  margin-left: 5px;
  margin-top: 5px;
}
form p.info {
  font-family: Helvetica;
  font-size: 12px;
  line-height: 14px;
  color: #6d6d6d;
}

form img.image-preview {
  margin-bottom: 20px;
  margin-top: 20px;
  height: 150px;
  display: inherit;
}

form video.video-preview {
  margin-bottom: 20px;
  display: inherit;
}

form .info-video {
  display: flex;
  margin-top: 25px;
}

form .btn-upload {
  background: #fcfcfc;
  border: 2px solid #282828;
  font-family: Helvetica;
  font-size: 13px;
  line-height: 15px;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 10px 25px;
  display: inline-block;
  cursor: pointer;
  transition: 0.2s;
  margin-right: 30px;
}

form .btn-upload:hover {
  background: #ff6600;
  color: #fcfcfc;
}

input[type="text"] {
  width: 100%;
  height: 35px;
  border-radius: 5px;
  border: 1px solid #282828;
  // outline:none;
  padding: 14px 18px;
  margin: 5px auto;
}
textarea {
  width: 100%;
  height: 80px;
  border-radius: 5px;
  border: 1px solid #282828;
  // outline:none;
  padding: 14px 18px;
  margin: 5px auto;
}

.btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px auto;
  margin-top: 40px;
  padding-bottom: 50px;
}

.btn-wrapper .btn {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  background-color: #ff6600;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  border-radius: 7px;
  padding: 10px 25px;
}

.btn-wrapper .btn:hover {
  background-color: #ffffff;
  color: #ff6600;
  border-color: #ff6600;
}

::ng-deep .swal2-html-container {
  font-family: Helvetica;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #282828;
}

::ng-deep .swal2-styled.swal2-confirm {
  background: #ff6600;
  border: 2px solid #ff6600;
  box-sizing: border-box;
  border-radius: 10px;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  padding: 14px 30px;
}

::ng-deep .swal2-styled.swal2-confirm:focus {
  box-shadow: none;
}

.has-error,
.has-error input[type="text"],
.has-error input[type="password"] {
  border-color: rgb(216, 12, 12) !important;
  color: rgb(230, 14, 14);
}