<div class="container" [loader]="isLoading">
  <div class="wrapper-logo">
    <div class="logo-1">
      <img src="../../../assets/image/logo/logo-osram.png" alt="" />
    </div>
    <div class="logo-2">
      <img src="../../../assets/image/logo/logo-yoong.png" alt="" />
    </div>
  </div>

  <span class="form-title">Data Penjual:</span>
  <form
    [formGroup]="bengkelForm"
    (ngSubmit)="onSubmit(bengkelForm.value)"
    novalidate
  >
    <div class="form-group">
      <p
        [ngClass]="{ 'has-error': isSubmitted && formControls.nama_bengkel.errors }"
      >
        <input
          class="form-control"
          formControlName="nama_bengkel"
          placeholder="Nama Bengkel"
          type="text"
          [textMask]="maskconfig"
        />
      </p>
    </div>
    <div
      *ngIf="
        bengkelForm.controls['nama_bengkel'].invalid &&
        (bengkelForm.controls['nama_bengkel'].dirty ||
          bengkelForm.controls['nama_bengkel'].touched)
      "
      class="alert alert-danger"
    >
      <div *ngIf="bengkelForm.controls['nama_bengkel'].errors">
        Silahkan Input Nama Bengkel.
      </div>
    </div>

    <div class="form-group">
      <p
        [ngClass]="{ 'has-error': isSubmitted && formControls.alamat_bengkel.errors }"
      >
        <input
          class="form-control"
          formControlName="alamat_bengkel"
          placeholder="Alamat Bengkel"
          type="text"
          [textMask]="maskconfig"
        />
      </p>
    </div>
    <div
      *ngIf="
        bengkelForm.controls['alamat_bengkel'].invalid &&
        (bengkelForm.controls['alamat_bengkel'].dirty ||
          bengkelForm.controls['alamat_bengkel'].touched)
      "
      class="alert alert-danger"
    >
      <div *ngIf="bengkelForm.controls['alamat_bengkel'].errors">
        Silahkan Input Alamat Bengkel.
      </div>
    </div>

    <div class="form-group">
      <p
        [ngClass]="{ 'has-error': isSubmitted && formControls.pemilik_bengkel.errors }"
      >
        <input
          class="form-control"
          formControlName="pemilik_bengkel"
          placeholder="Nama Pemilik Bengkel"
          type="text"
          [textMask]="maskconfig"
        />
      </p>
    </div>
    <div
      *ngIf="
        bengkelForm.controls['pemilik_bengkel'].invalid &&
        (bengkelForm.controls['pemilik_bengkel'].dirty ||
          bengkelForm.controls['pemilik_bengkel'].touched)
      "
      class="alert alert-danger"
    >
      <div *ngIf="bengkelForm.controls['pemilik_bengkel'].errors">
        Silahkan Input Nama Pemilik Bengkel.
      </div>
    </div>

    <div *ngIf="isUnvalidated" class="alert alert-danger">
      Mohon inputkan kembali dengan benar.
    </div>

    <div class="btn-wrapper">
      <button type="submit" class="btn">Lanjutkan</button>
    </div>
  </form>
</div>
